name: Build APK
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Dependencies
        run: |
          pip install flet requests

      # Build dengan izin internet dan auto-yes
      - name: Build Android APK
        run: |
          yes | flet build apk --android-permissions android.permission.INTERNET --verbose

      - name: Upload APK Result
        uses: actions/upload-artifact@v4
        with:
          name: CrownTricks-APK
          path: build/apk/app-release.apk
